
:root {
    --randomized-num: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: azure;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 5rem;
}

h1:hover {
    cursor: pointer;
}