
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100%;
}

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.container {
    background-color: color(primary);
    display: grid;
    grid-template-columns: 6% 1fr;
    grid-template-rows: 1fr auto;
}

header {

    background-color: color(secondary);

    nav {
        width: 100%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        list-style-type: none;

        &__button {
            // margin-bottom: 40rem;

            &-img {

            }
        }

        &__menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &__link {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                span {
                    // width: 100%;
                    text-align: center;
                }
            }

        }

    }
}

.icon--menu {
    align-self: center;
    justify-self: center;
    width: 50%;
    height: 30px;
    padding: 0;
}
