.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;


    .list__title {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .search-bar {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        input {
            font-size: 2rem;
            width: 80%;
            height: 2.5rem;   
        }
    }

    .list__gallery {
        grid-column: 1 / -1;

        ul {
            padding: 4rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: 1fr;
            place-items: left center;
            grid-gap: 2rem;

            list-style-type: none;
        }

        .gallery-item {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            // margin: .5rem 0;
            border: 2px solid black;
            // padding: 3rem 0;
            box-shadow: 8px 8px 2px 0px rgba(161,161,161,1);
            // border-radius: 50px;

            div {
                align-self: stretch;
                img {
                    // z-index: -5;
                    // align-self: stretch;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    // border-radius: 30px;
                }
            }

            p {
                text-align: center;
                margin: 1.5rem 0;
                font-size: 2.5rem;
            }
        }
    }
}