.list {
    margin-top: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3rem;
    // margin-top: 10rem;
    // padding: 5rem;

    // @include responsive(tablet) {
    //     margin-top: 45rem;
    // }


    .list__title {
        grid-column: 1 / -1;
        justify-self: center;
        text-align: center;
        font-family: 'Lato', sans-serif;
        color: $color-primary-dark;
        font-size: 3.5rem;
        text-transform: uppercase;
    }

    .search-bar {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        .search-bar__field {
            font-size: 2rem;
            width: 80%;
            height: 2.5rem;   
        }
    }

    &__options {
        grid-column: 1 / -1;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        font-size: 1.8rem;
        align-items: center;
        height: 4rem;
        width: 80%;

        @include responsive(tablet) {
            display: grid;
            width: 100%;
            justify-content: center;
            align-content: center;
            margin: 0;
            grid-template-rows: 30% 70%;
            grid-gap: 1rem;
            grid-auto-flow: column;
        }
        
        label {
            margin-left: .6rem;
            cursor: pointer;
        }

        &__checkbox {
            grid-column: 1 / -1;
            cursor: pointer;
        }

        &__radio {
            grid-column: 1 / -1;
            cursor: pointer;
            margin-left: 2rem;
        }
    }

    &__gallery {
        grid-column: 1 / -1;
        border-top: 2px solid $color-primary-dark;
        border-bottom: 2px solid $color-primary-dark;
        background-color: $color-primary-light;

    
        .gallery-grid {
            grid-column: 1 / -1;
            padding: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: 1fr;
            grid-gap: 2rem;

            list-style-type: none;
        }

        .gallery-grid--list {

        }

        .gallery-item {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            // flex-wrap: nowrap;
            // margin: .5rem 0;
            // padding: 3rem 0;
            // box-shadow: 8px 8px 2px 0px rgba(161,161,161,1);
            border: 3px solid #566270;
            // border-radius: 50px;

            div {
                align-self: stretch;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    // border-radius: 30px;
                }
            }

            p {
                // clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 78%, 0% 75%, 0% 25%);
                // width: 100%;
                font-family: 'Odibee Sans', cursive;
                color: $color-highlight;
                // background-color: $color-secondary-dark;
                text-align: center;
                margin: 1.5rem 0;
                font-size: 3.5rem;
                color: black;
                -webkit-text-fill-color: $color-highlight; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
            }
        }

        .gallery-item--list {

        }
    }
}