*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #010038;

    display: grid;
    grid-template-rows: auto auto;
}

.scale {
    display: flex;
    margin: 2rem;
    justify-content: flex-start;
}

.scale div {
    height: 50px;
    width: 5rem;
    background-color: white;
    float: left;
    margin: 1rem;
    text-align: center;
    border: 2px solid rgb(245, 255, 103);
    background-color: #f39422;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scale p {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin: 0 auto;
}

.scale div:hover {
    cursor: pointer;
}

.menu {
    grid-row: 1 / 2;
    display: grid;
    height: 400px;
    overflow: scroll;
    grid-template-columns: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 2rem;
    text-align: center;
}

.button {
    border: 2px solid rgb(245, 255, 103);
    background-color: #f39422;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}


.container {
    margin: 3rem auto;
    width: 70%;
    height: 100%;
    background-color: #537ec5;
    border-radius: 10px;

    display: flex;
    transition: all 1s;
}

.item {
    border: 2px solid rgb(245, 255, 103);
    background-color: #f39422;
    padding: 2rem;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 10px;
}