*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  background-color: #bb3939;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6% 1fr;
      grid-template-columns: 6% 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (max-width: 600px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 8% 1fr;
        grid-template-rows: 8% 1fr;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

main > * {
  padding: 1rem;
}

.icon--menu__menu {
  width: 40%;
  height: 4rem;
  fill: white;
}

@media (max-width: 600px) {
  .icon--menu__menu {
    width: 4rem;
    height: 4rem;
    justify-self: flex-end;
  }
}

header {
  background-color: #3a8a22;
}

header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style-type: none;
}

@media (max-width: 600px) {
  header nav:hover {
    background-color: #7fffd4;
  }
}

@media (max-width: 600px) {
  header nav:active {
    background-color: #00e598;
  }
}

header nav .nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 600px) {
  header nav .nav__button {
    margin: auto;
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header nav .nav__button:hover {
  background-color: #7fffd4;
}

header nav .nav__button:active {
  background-color: #00e598;
}

header nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav__menu .nav__menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav__menu .nav__menu__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 600px) {
  header nav .nav__menu .nav__menu__link {
    width: 200%;
    padding: 1rem;
  }
}

header nav .nav__menu .nav__menu__link:hover {
  background-color: wheat;
}

header nav .nav__menu .nav__menu__link::after {
  font-family: 'Poppins', sans-serif;
  content: attr(data-tool-tip);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: wheat;
  width: 250%;
  height: 50%;
  color: black;
  border-radius: 5px;
  font-size: .75em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  z-index: 5;
  -webkit-transform: translateX(-6rem);
          transform: translateX(-6rem);
  opacity: 0.0;
  -webkit-transition: -webkit-transform ease-out .1s;
  transition: -webkit-transform ease-out .1s;
  transition: transform ease-out .1s;
  transition: transform ease-out .1s, -webkit-transform ease-out .1s;
}

@media (max-width: 600px) {
  header nav .nav__menu .nav__menu__link::after {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 5;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 4rem;
  }
}

header nav .nav__menu .nav__menu__link:hover::after {
  opacity: 1;
  -webkit-transform: scale(2) translateX(1.7rem);
          transform: scale(2) translateX(1.7rem);
  -webkit-transition: all .1s;
  transition: all .1s;
}

@media (max-width: 600px) {
  header nav .nav__menu .nav__menu__link:hover::after {
    -webkit-transform: rotateY(180deg) rotateY(180deg);
            transform: rotateY(180deg) rotateY(180deg);
    background-color: wheat;
  }
}

header nav .nav__menu .nav__menu__link span {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  font-size: 1rem;
  color: black;
}

header nav .nav__menu--animated {
  display: none;
}

.icon--menu {
  width: 40%;
  height: 4rem;
  fill: white;
}

@media (max-width: 600px) {
  .icon--menu:hover {
    opacity: 0;
  }
}

.blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 5rem 1fr 1fr 1fr;
      grid-template-rows: 5rem 1fr 1fr 1fr;
  height: 70rem;
}

.blog .blog__title {
  grid-area: blog__title;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.blog .view-article {
  grid-area: view-article;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  grid-row: 2 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10% 30% 1fr;
      grid-template-rows: 10% 30% 1fr;
}

@media (max-width: 600px) {
  .blog .view-article {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
}

.blog .view-article__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .view-article__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .view-article__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2.5rem;
}

@media (max-width: 600px) {
  .blog .view-article {
    grid-column: 1 / -1;
  }
}

.blog .calendar {
  grid-area: calendar;
  grid-column: 5 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .blog .calendar {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
  }
}

.blog .calendar h2 {
  height: 30%;
  width: 100%;
}

.blog .calendar__update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70%;
}

.blog .calendar__update-single {
  list-style-type: none;
}

.blog .calendar__update-single p {
  font-size: 1rem;
}

.blog .credentials-area {
  grid-area: credentials-area;
  grid-column: 5 / -1;
  grid-row: 3 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  .blog .credentials-area {
    grid-column: 1 / -1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6 / 8;
  }
}

.blog .credentials-area form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.blog .credentials-area form .form-label, .blog .credentials-area form .form-input {
  width: 100%;
  padding: 1rem;
}

.blog .credentials-area form .form-input {
  padding: .3rem;
}

@media (max-width: 600px) {
  .blog {
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-auto-flow: row;
    grid-gap: 3rem;
    height: 90rem;
  }
}

.list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.list .list__title {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.list .search-bar {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .search-bar input {
  font-size: 2rem;
  width: 80%;
  height: 2.5rem;
}

.list .list__gallery {
  grid-column: 1 / -1;
}

.list .list__gallery ul {
  padding: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: left center;
  grid-gap: 2rem;
  list-style-type: none;
}

.list .list__gallery .gallery-item {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: 2px solid black;
  -webkit-box-shadow: 8px 8px 2px 0px #a1a1a1;
          box-shadow: 8px 8px 2px 0px #a1a1a1;
}

.list .list__gallery .gallery-item div {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.list .list__gallery .gallery-item div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list .list__gallery .gallery-item p {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2.5rem;
}
/*# sourceMappingURL=main.css.map */